* {
  margin: 50;
  padding: 0;
  box-sizing: border-box;}

body { 
  margin: 0;
  font-family: morganite;
}
h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.container {
  max-width: 30px;
  margin: auto;
}
ul {
  list-style:none;
}
.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 20px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: ;
  color: Black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
  

}

body  {
  background-image: url("https://images.unsplash.com/photo-1471086569966-db3eebc25a59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
  background-color: #cccccc;
  background-repeat: no repeat;
  background-size:cover;

}

.social-media-list li{
  display: inline-block;
}



.main-content{
  margin:0 auto;
  width:100%;
 padding-bottom: 40px;}
  
  footer{
    position:fixed;
bottom:0;

 }

input[type=text],input[type=email],textarea{
  width: 100%;
  border-radius: 2px ;
  border: 1px solid #cccccc;
  background:transparent;
  font-weight: 100;
  color: #000000;
  padding: 5%;
  box-sizing: border-box;
}

.blog img{
  max-width: 80px;
  max-width: 80px;
}

.main-content{
  
  width: 50%;
  margin: 100 auto;
  background: transparent;
  border-radius: 0%;
  box-shadow: 2px;
  position: relative;
  justify-content: space-evenly;

}
